<header>
    <div class="logo">
        <h1>Crossword Game</h1>
    </div>
    <nav class="main-nav">
        <ul>
            <li><a href="/" class="nav-button" id="home-btn">Home</a></li>
            <li><a href="/game/dashboard" class="nav-button" id="dashboard-btn">Dashboard</a></li>
            <li><button class="nav-button" id="load-puzzle-btn">Load Puzzle</button></li>
            <li><button class="nav-button" id="save-button">Save Game</button></li>
            <li><button class="nav-button" id="show-answers-button">Show Answers</button></li>
            <li><button class="nav-button" id="resume-game-btn">Resume Game</button></li>
            <li><button class="nav-button" id="start-game-btn">Start Game</button></li>
            <li><a href="/auth/logout" class="nav-button" id="logout-btn">Logout</a></li>
        </ul>
    </nav>
</header>
